**/*.versionsBackup
**/nbactions.xml
**/nbproject
**/release.properties
**/target
**/nb-configuration.xml
/.project
/.settings/
/spf4j-zel/.settings/
/spf4j-zel/.classpath
/spf4j-zel/.project
/spf4j-ui/.settings/
/spf4j-ui/.classpath
/spf4j-ui/.project
/spf4j-junit/.settings/
/spf4j-junit/.project
/spf4j-junit/.classpath
/spf4j-jmh/.settings/
/spf4j-jmh/.project
/spf4j-jmh/.classpath
/spf4j-jdiff-maven-plugin/.settings/
/spf4j-jdiff-maven-plugin/.classpath
/spf4j-jdiff-maven-plugin/.project
/spf4j-jacoco-aggregate/.settings/
/spf4j-jacoco-aggregate/.project
/spf4j-core-gwt/.settings/
/spf4j-core-gwt/.project
/spf4j-core-gwt/.classpath
/spf4j-core/.settings/
/spf4j-core/.project
/spf4j-core/.classpath
/spf4j-config-discovery-maven-plugin/.classpath
/spf4j-config-discovery-maven-plugin/.project
/spf4j-config-discovery-maven-plugin/.settings/
/spf4j-benchmarks/.settings/
/spf4j-benchmarks/.classpath
/spf4j-benchmarks/.project
/spf4j-avro/.settings/
/spf4j-avro/.classpath
/spf4j-avro/.project
/spf4j-aspects/.settings/
/spf4j-aspects/.project
/spf4j-aspects/.classpath
/spf4j-asm/.settings/
/spf4j-asm/.classpath
/spf4j-asm/.project
/spf4j-experimental/.idea/
/spf4j-experimental/spf4j-experimental.iml
/spf4j-core/dependency-reduced-pom.xml
/spf4j-avro-components/spf4j-avro/.classpath
/spf4j-avro-components/spf4j-avro/.project
/spf4j-avro-components/spf4j-avro/.settings/