 ------
 Introduction
 ------
 The SPF4J team
 ------
 2017-10-01
 ------

Spf4j JDiff Maven Plugin

  Use this plugin to create JDiff reports for a range of versions for a project.
  
  "JDiff is a Javadoc doclet which generates an HTML report of all the packages, classes, constructors, methods, and fields which have been removed, added or changed in any way, including their documentation, when two APIs are compared.
  This is very useful for describing exactly what has changed between two releases of a product.
  Only the API (Application Programming Interface) of each version is compared. It does not compare what the source code does when executed."\
  ( source: {{{http://www.jdiff.org/}www.jdiff.org}} )
  

* Goals Overview

  * {{{./jdiff-mojo.html}jdiff:jdiff}} Generate the jdiff report.

  []


* Usage

  General instructions on how to use the JDiff Maven Plugin can be found on the {{{./usage.html}usage page}}.

  In case you still have questions regarding the plugin's usage, please feel
  free to contact the {{{./mail-lists.html}user mailing list}}. The posts to the mailing list are archived and could
  already contain the answer to your question as part of an older thread. Hence, it is also worth browsing/searching
  the {{{./mail-lists.html}mail archive}}.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are most welcome too. Contributors can check out the project from our
  {{{./source-repository.html}source repository}} and will find supplementary information in the
  {{{http://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}. 

