 ------
 Introduction
 ------
 The SPF4J team
 ------
 2018-10-01
 ------

Spf4j AVRO schema plugin.

  Use this plugin to create, build, validate, distribute, reuse data models defined by avro schemas.

  This plugin allows you to:

  * Compose data models using maven dependency framework. Use the maven release process to release and version avro data models.

  * Validate avro schemas (extensile). (documentation, naming, compatibility with previously released versions)

  * Add a unique ID to the schemas ("mvnId":"org.spf4j.avro.examples:test-schema:1.6-SNAPSHOT:6")

  * Add information to the schemas about the idl they come from ("sourceIdl":"target/avro-sources/core.avdl:50:67")

  * Generate and publish java classes.

  * Generate package and publish the avro schemas.

  ( For more on avro, see: {{{http://avro.apache.org/}avro.apache.org}} )


* Goals Overview

  * {{{./avro-dependencies-mojo.html}avro-schema:avro-dependencies}} Fetch schema dependencies.

  * {{{./avro-compile-mojo.html}avro-schema:avro-compile}} Compile the schema sources.

  * {{{./avro-validate-mojo.html}avro-schema:avro-validate}} Validate the schemas.

  * {{{./avro-package-mojo.html}avro-schema:avro-package}} Package the schemas.


* Usage

  General instructions on how to use the Spf4j AVRO Maven Plugin can be found on the {{{./usage.html}usage page}}.

  In case you still have questions regarding the plugin's usage, please feel
  free to contact the {{{./mail-lists.html}user mailing list}}. The posts to the mailing list are archived and could
  already contain the answer to your question as part of an older thread. Hence, it is also worth browsing/searching
  the {{{./mail-lists.html}mail archive}}.

  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our
  {{{./issue-tracking.html}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are most welcome too. Contributors can check out the project from our
  {{{./source-repository.html}source repository}} and will find supplementary information in the
  {{{http://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}.

