name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      DISPLAY: :99.0
      GITHUB_PKG_TOKEN: ${{ secrets.GITHUB_PKG_TOKEN }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: run/xfb
      run: "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
    - name: Build with Maven
      run: mvn -T 1C -s .github/workflows/settings.xml  -B package --file pom.xml
